<section class="store_features">
  <div class="container">

    <div class="store_box">
      <div class="store_slider">
        <div class="store_slider_item">
          <div class="store_item_wrap">
            <div class="store_icon">
              <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
            </div>
            <div class="store_discr">
              <div class="store_discr__title">Full warrenty</div>
              <span>Read About Our Warrenty</span>
              <div class="line"></div>
            </div>

          </div>
        </div>
        <div class="store_slider_item">
          <div class="store_item_wrap">
            <div class="store_icon">
              <i class="fa fa-truck fa-2x" aria-hidden="true"></i>
            </div>
            <div class="store_discr">
              <div class="store_discr__title">express shipping</div>
              <span>Local & International Shipping</span>
              <div class="line"></div>
            </div>

          </div>
        </div>
        <div class="store_slider_item">
          <div class="store_item_wrap">
            <div class="store_icon">
              <i class="fa fa-commenting fa-2x" aria-hidden="true"></i>
            </div>
            <div class="store_discr">
              <div class="store_discr__title">mobile blog</div>
              <span>Discuss Your Favourite Phone</span>
              <div class="line"></div>
            </div>


          </div>
        </div>
        <div class="store_slider_item">
          <div class="store_item_wrap">
            <div class="store_icon">
              <i class="fa fa-question fa-2x" aria-hidden="true"></i>
            </div>
            <div class="store_discr">
              <div class="store_discr__title">24/7 Support</div>
              <span>Get Full Support via Chat</span>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="store_slider_item">
          <div class="store_item_wrap">
            <div class="store_icon">
              <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>
            </div>
            <div class="store_discr">
              <div class="store_discr__title">Full warrenty</div>
              <span>Read About Our Warrenty</span>
              <div class="line"></div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>