<!-- FOOTER START -->
<footer>
  <div class="container">
    <div class="footer_top">
      <div class="subscribe">
        <p>subscribe to latest smartphones
          <br> news & great deals we offer</p>
        <form action="">
          <input type="text" placeholder="Enter Your Email Address ..." id="email">
          <button type="submit">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </button>
        </form>
      </div>
      <ul class="social">
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" target="_blank">
            <i class="fa fa-rss" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<div class="footer_bot">
  <div class="container">
    <span>Copyright © 2015
      <span>codeitStore</span> All Rights Reserved.</span>
    <ul class="paycard">
      <li class="card_item card_item-1"></li>
      <li class="card_item card_item-2"></li>
      <li class="card_item card_item-3"></li>
      <li class="card_item card_item-4"></li>
      <li class="card_item card_item-5"></li>
      <li class="card_item card_item-6"></li>
    </ul>
  </div>
</div>
<!-- FOOTER END -->